.bg{
   background: rgb(169,200,227);
   background: linear-gradient(132deg, rgba(169,200,227,1) 45%, rgba(87,212,200,1) 55%);
   height: 100%;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.wallpaper {
  background-image: url("../images/wallpaper.jpg");
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: fixed;
  opacity: 0.25;
}

.wallpaper {

  animation-name: zoomOut;
  animation-timing-function: ease-out;
}

header {
  padding-bottom: 120px;
}

img {
border-radius: 8px;
}

.navbar-brand {
  padding-left: 10px;
}

.navbar-nav {
  padding-left: 10px;
}

.nav-right {
  padding-left: 50px;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.navb-link: focus{
  outline: none;
  box-shadow: none;
}

.site-header .navbar-nav{
  color: #cbd5db;
}

.site-header {
  color: #ffffff;
}

.site-header{
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.info {
  background: #ffffff;
}